<div class="row">
    <div class="col-md-6" *ngFor="let espacio of espacios | paginate: { itemsPerPage: 6, currentPage: currentPage }">
        <div class="card text-center">
            <div class="card-header bg-dark text-white h5 f-flex justify-content-between align-items-center">
                <strong>{{espacio.profesor.apellido1}} {{espacio.profesor.apellido2}}, {{espacio.profesor.nombre}}</strong>
            </div>
            

            <div class="card-body  text-dark h6" id="parentCard">
                <i class="fas fa-book"></i> {{espacio.asignatura.nombre}}<br/><br/>
                
                <div class="row">
                    <div class="col-md-6"><i class="fas fa-money-bill-wave"></i> {{espacio.precio}}€</div>
                    <div class="col-md-6"><i class="fas fa-users"></i> {{espacio.capacidad}}</div>
                </div>
                <button (click)="detalleEspacio(espacio.id)" class="btn btn-primary">Ver detalles</button>
            </div>
            
        </div>
    </div>
</div>

<div class="text-center sticky-top">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>



