
<div class="row">
    <div class="col-md-1">

    </div>
    <table class="table col-md-10 table-responsive table-hover">
        <thead class="bg-dark text-dark h5 ">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Univesidad</th>
              <th scope="col">Grado</th>
              <th scope="col">Curso</th>
              <th scope="col">Valoración</th>
            </tr>
        </thead>

        <tbody>
            <tr class="text-center" *ngFor="let profesor of profesores | paginate: { itemsPerPage: 6, currentPage: currentPage }">
                <td>{{profesor.nombre}}</td>
                <td>{{profesor.apellidos}}</td>
                <td>{{profesor.universidad.nombre}}</td>
                <td>{{profesor.grado.nombre}}</td>
                <td>{{profesor.curso.nombre}}</td>
                <td>{{profesor.valoracionMedia}}</td>
            </tr>
        </tbody>
    </table>

</div>

<div class="text-center sticky-top">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>


