<div class="row">
    <div class="col-md-4" *ngFor="let profesor of profesores">
        <div class="card text-center">
            <div class="card-header bg-warning text-dark h5 f-flex justify-content-between align-items-center">
                <strong>{{profesor.apellidos}}, {{profesor.nombre}}</strong>
            </div>

            <div *ngIf="profesor.sexo == 'M' ; else H">
                <img class="card-img-top" src="assets/images/ProSubjectAvatarM.jpg" >
            </div>
            <ng-template #H>
                <img class="card-img-top" src="assets/images/ProSubjectAvatarH.jpg" >
            </ng-template>

            <div class="card-body bg-warning text-dark h6">
                <strong>Universidad: </strong> <p>{{profesor.universidad}}</p>
                <strong>Titulación: </strong><p>{{profesor.titulacion}}</p>
                <strong>Grado: </strong><p>{{profesor.grado}}</p>
            </div>
        </div>
    </div>
</div>



