<div class="container">
    <div class="row">
        <div class="col-12">
            <form novalidate [formGroup]="form" (ngSubmit)="buscar()">

                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label>Universidad</label>
                        <select class="form-control" formControlName="universidad">
                            <option *ngFor="let valor of universidades" [value]="valor.nombre">{{valor.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Grado</label>
                        <select class="form-control" formControlName="grado">
                            <option *ngFor="let valor of grados" [value]="valor.nombre">{{valor.nombre}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Curso</label>
                        <select class="form-control" formControlName="curso">
                            <option *ngFor="let valor of lista" [value]="valor">{{valor}}</option>
                        </select>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label>Asignatura</label>
                        <select class="form-control" formControlName="asignatura">
                            <option *ngFor="let valor of lista" [value]="valor">{{valor}}</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" >
                    Buscar
                </button>
                 

            </form>
        </div>      
    </div>     
</div>

{{form.value|json}}
