
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand h1" routerLink="/inicio"><img src="assets/images/ProSubjectLogo.png"  alt="">ProSubject</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">

        <ul class="navbar-nav ml-auto">
    
          <li *ngFor="let i of header_service.menu" class="nav-item">
            <a *ngIf="i.titulo == 'Login'" class="nav-link" routerLinkActive="active" [routerLink]="[ i.url ]"><i class="fas fa-user"></i> {{ i.titulo }} </a>
            <a *ngIf="i.titulo != 'Login'" class="nav-link" routerLinkActive="active" [routerLink]="[ i.url ]"> {{ i.titulo }} </a>
          </li>
            
        </ul>
      </div>
    </div>
  </nav>
