<div class="row">
    <div class="col-md-6 mx-auto d-block" *ngFor="let horario of horarios">
        <div class="card text-center">
            <div class="card-header bg-dark text-white h5 f-flex justify-content-between align-items-center">
                <strong>{{horario.dia}}</strong>
            </div>     
            <div class="card-body text-dark h6" id="parentCard">
                <div class="container mt-4">

                        <div class="card rounded" id="childCard">
                            <ul class="list-group">
                                <li class="list-group-item"><strong>De:</strong> {{horario.fechaInicio}}</li>
                                <li class="list-group-item"><strong>A:</strong> {{horario.fechaFin}}</li>
                            </ul>
                        </div>
                </div>

                <button (click)="volverDetallesEspacio(espacioId)" class="btn btn-primary mr-1">Cancelar</button>
            </div>
            
        </div>
    </div>
</div>
