<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit) = "submit()">

                <div class="row">
                    <div class="col-md-5">

                        <div class="form-group">
                            <label>Universidad</label>
                            <select class="form-control" formControlName="universidad">
                                <option>------</option>
                                <option *ngFor="let valor of universidades" [value]="valor.nombre">{{valor.nombre}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Facultades</label>
                            <select class="form-control" formControlName="facultades">
                                <option>------</option>
                                <option *ngFor="let valor of facultades" [value]="valor.nombre">{{valor.nombre}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Grado</label>
                            <select class="form-control" formControlName="grado">
                                <option>------</option>
                                <option *ngFor="let valor of grados" [value]="valor.nombre">{{valor.nombre}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Curso</label>
                            <select class="form-control" formControlName="curso">
                                <option>------</option>
                                <option *ngFor="let valor of cursos" [value]="valor.nombre">{{valor.nombre}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Asignatura</label>
                            <select class="form-control" formControlName="asignatura">
                                <option>------</option>
                                <option *ngFor="let valor of asignaturas" [value]="valor.id">{{valor.nombre}}</option>
                            </select>
                        </div>
        
                        <div class="form-group">
                            <label>Precio</label>
                            <input matInput type="text" name="precio" formControlName="precio" 
                            placeholder="Introduce el precio por hora..." class="form-control">
                            <div *ngIf="form.get('precio').touched && form.get('precio').hasError('required')">
                                El precio es requerido
                            </div>
                            <div *ngIf="form.get('precio').touched && form.get('precio').hasError('min')">
                                El precio debe ser mayor que 0
                            </div>
                            <div *ngIf="form.get('precio').touched && form.get('precio').hasError('pattern')">
                                Introduce un precio válido
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label>Capacidad</label>
                            <input matInput type="text" name="capacidad" formControlName="capacidad" 
                            placeholder="Introduce la capacidad..." class="form-control">
                            <div *ngIf="form.get('capacidad').touched && form.get('capacidad').hasError('required')">
                                La capacidad es requerida
                            </div>
                            <div *ngIf="form.get('capacidad').touched && form.get('capacidad').hasError('min')">
                                La capacidad debe ser mayor que 0
                            </div>
                            <div *ngIf="form.get('capacidad').touched && form.get('capacidad').hasError('pattern')">
                                Introduce una capacidad válida
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-md-5" >
                        HORARIO
                        <hr>
                        <div formArrayName="horarios" *ngFor="let hor of form.get('horarios').controls; let i=index;">
                            <div class="row" [formGroupName]="i">

                                <div class="form-group col-md-4">
                                    <label>Día</label>
                                    <select class="form-control" formControlName="dia">
                                        <option>------</option>
                                        <option *ngFor="let dia of diasSemana" [value]="dia">{{dia}}</option>
                                    </select>
                                </div>
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Hora inicio</label>
                                        <input type="text" formControlName="fechaInicio">
                                    </div>
                                </div>


                                <div class="ml-3 col-md-3">
                                    <div class="form-group">
                                        <label>Hora fin</label>
                                        <input type="text" formControlName="fechaFin">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button (click)="addNuevoHorario()"><i class="fas fa-plus"></i></button>
                    </div>
                </div>

                <button class="btn btn-primary btn-block col-md-6 mx-auto d-block" [disabled]="form.invalid">
                    Guardar
                </button>



            </form>
        </div>
    </div>
</div>
